{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "defaults",
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
            "modules": false
          }
        ]
      ],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
